@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-weight: 700;
}


/* navbar */

.navBar {
  padding: 20px 40px;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.leftContainer:hover {
  cursor: pointer;
}

.navBar .rightContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.account {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.2s;
}

.account:hover {
  cursor: pointer;
  background: #fe4773;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
}

button {
  background: #fe4773;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}


/* Search bar */

.searchBarContainer {
  width: 100%;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 30px;
}

.searchBarContainer input {
  border: 2px solid #fe4773;
  width: 30%;
  padding: 10px 20px;
  border-radius: 10px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: 0.3;
}

.searchBarContainer input:focus {
  outline: none;
}

.searchBarContainer img {
  border: 2px solid #fe4773;
  padding: 2px;
  border-left: none;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

}