@import "tailwindcss";

/* #fff3f5 */
/* #f7f5dd */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-weight: 700;
}


.mainContainer {
  padding-inline: 80px;
}

/* navbar */

.navBar {
  padding: 20px 40px;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.leftContainer:hover {
  cursor: pointer;
}

.navBar .rightContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.account {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.2s;
}

.account:hover {
  cursor: pointer;
  background: #fe4773;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
}

button {
  background: #fe4773;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}


/* Search bar */

.searchBarContainer {
  width: 100%;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 30px;
}

.searchBarContainer input {
  border: 2px solid #fe4773;
  width: 30%;
  padding: 10px 20px;
  border-radius: 10px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: 0.3;
}

.searchBarContainer input:focus {
  outline: none;
}

.searchBarContainer img {
  border: 2px solid #fe4773;
  padding: 2px;
  border-left: none;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.searchBarContainer img:hover {
  cursor: pointer;
}

/* filter category */
.filterContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.filterContainer button {
  display: flex;
  gap: 10px;
}

.filterContainer button img {
  width: 20px;
}

/* categoryContainer */

.categoriesContainer {
  display: flex;
  gap: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  overflow-x: scroll;
}



.categoryCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.categoryContainer {
  width: 100px;
  height: 120px;
  border-radius: 10px;
  background-color: #fff3f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryContainer img {
  width: 80%;
}


/* item cards */
.itemCards {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);

}

.itemImg {
  width: 180px;
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemImg img {
  width: 80%;
}

.itemTitle {
  padding-inline: 10px;
}

.itemSubContainer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.itemRow {
  padding: 2px;
  padding-bottom: 30px;
  margin-block: 50px;
  display: flex;
  gap: 30px;
  overflow-x: scroll;
}

.items {
  margin-top: 50px;
}

.items h2 {
  font-size: 24px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .navBar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navBar .leftContainer {
    display: none;
  }

  .navBar .rightContainer {
    display: none;
  }

}